@import '../base.scss';

.cart {
  &__method {
    h2 {
      &:last-of-type {
        margin-top: 1rem;
        font-size: 13px;
      }
    }

    .image {
      margin-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      gap: 10px;
      border-bottom: 1px solid #e8e7e7;
      align-items: center;

      img {
        width: 40px;
      }
    }

    .protection {
      margin-top: 5px;
      display: flex;
      gap: 10px;
      align-items: center;
      color: $dark-gray-color;
      font-size: 15px;
      img {
        width: 20px;
        height: 25px;
      }
    }
  }
}
