@import '../base';

.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .col {
    display: flex;
    flex-direction: column;
    @media (min-width: 700px) {
      gap: 1rem;
      flex-direction: row;
    }
  }

  form {
    width: 100%;
    .submitBtn {
      display: flex;
      justify-content: end;
    }
  }
}

.addresses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .address {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    cursor: pointer;
    padding: 1rem;
    height: 100%;
    box-shadow: $shadow-1;

    &_delete {
      position: absolute;
      top: 1rem;
      right: 1rem;
      fill: #666;
      filter: invert(10%);
      font-size: 1.2rem;
      cursor: pointer;
      z-index: 99;
    }

    &_side {
      height: 90px;
      width: 90px;
      display: grid;
      // place-items: center;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: $shadow-1;
        object-fit: cover;
      }
    }

    &_col {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      span {
        gap: 5px;
        align-items: center;
        display: flex;
        svg {
          fill: #666;
        }
      }
    }
  }
}

// .active {
//   &::before {
//     border-left: 7px solid;
//     border-image: linear-gradient(to bottom, #ff0a0a 60%, #f73c22 40%) 1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     content: '';
//     height: 100%;
//   }
// }

.active__text {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #ff0a0a;
  font-weight: bold;
  font-size: 12px;

  &::before {
    position: absolute;
    transform: translateY(-50%);
    content: '';
    left: -10px;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $gradient-color;
  }
}

.showForm {
  width: 100%;
  height: 45px;
  background: transparent;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg {
      font-size: 2rem;
      fill: #000;
    }
  }
}

.submitBtn {
  width: 100%;
  button {
    width: 150px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    background: #000;
    cursor: pointer;
  }
}
